

@import "shared";
#buttonContainer {
    background-color: white !important;
}

.search-container{
    height: 6em;
}

.btn-light {
    object-fit: cover;
}

.search-icon{
    width:25px;
    height:25px;
    fill:black;
    opacity: 0.65;
}

.suggestion-box{
    max-height: 30em;
    overflow: auto;
    scroll-behavior: auto;
}

.suggestion{
    border: none;
    margin: 0.1em;
    padding: 0.2em 0.4em;
    border-radius: 1em;
    cursor: pointer;
    &:hover, &:focus{
        background-color: lightgray;
    }
}

.animate-height{
    transition: max-height 0.2s;
}

.outlineBorder {
    border: 2px solid $base-color;
    border-radius: 30px;
    padding: 0.5em;
}

