

@import "shared";
#buttonContainer {
    background-color: white !important;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    margin-left: .4em;
    opacity: 0.65;
    cursor: pointer;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M4.354 4.354a.5.5 0 0 1 .708 0L8 7.293l2.938-2.939a.5.5 0 0 1 .707.708L8.707 8l2.938 2.938a.5.5 0 0 1-.707.707L8 8.707l-2.939 2.938a.5.5 0 0 1-.708-.707L7.293 8 4.354 5.062a.5.5 0 0 1 0-.708z'/></svg>");
}



.search-container{
    height: 6em;
}

.btn-light {
    object-fit: cover;
}

.search-icon{
    width:25px;
    height:25px;
    fill:black;
    opacity: 0.65;
}

.suggestion-box{
    max-height: 30em;
    overflow: auto;
    scroll-behavior: auto;
}

.suggestion{
    border: none;
    margin: 0.1em;
    padding: 0.2em 0.4em;
    border-radius: 1em;
    cursor: pointer;
    &:hover, &:focus{
        background-color: lightgray;
    }
}

.animate-height{
    transition: max-height 0.2s;
}

.outlineBorder {
    border: 2px solid $base-color;
    border-radius: 30px;
    padding: 0.5em;
}

