$base-color: #283044;

.btn-light {
    object-fit: cover;
    padding: auto;
}

#searchBar {
    background:  none;
    border-style: none;
    width: 500px;
  } 

.bi-search {
    width: 25px;
    height: 25px;
    fill: $base-color;
}

.outlineBorder {
    border: 2px solid $base-color;
    border-radius: 50px;
    padding: 0.4em;
    margin-top: 3em;
    margin-bottom: 2em;
}