@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$base-color: #283044;
$bg-light: #fafdff;

$body-bg: $bg-light;

$theme-colors: (
        "light": $bg-light
);

$custom-colors: (
        "darktheme": $purple
);


$theme-colors: map-merge($theme-colors, $custom-colors);

.h-0{
  max-height: 0 !important;
  overflow: hidden !important;
}

.foreground{
  z-index: 1;
}

.outline-none{
  outline:none;
  &:hover{
    outline: none;
  }
}


