.img-preview{
  max-height: 3em;
  width: auto;
}

#assetimg{
  max-height: auto;
  width: 25em;
  float: left;
}

.AssetView {
  margin: auto;
  width: 90%;
  flex: block;
}

.AssetViewTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories {
  font-weight: bolder;
}