@import "../shared";

.design-nav {
  background-color: #2f5779;
  color: #ffffff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

#nameplateLogoNav{
  max-height: 50px;
  max-width: 50px;
}

.nav-searchbar{
  font-size: 14px;
  color: black;
  max-width: 450px;
  border: none;
  border-radius: 25px;

}

.nav-search-container {
  height: 3em;
}

.searchbar-container{
  height: 35px;
}

.suggestionElement:hover {
  background-color: #c8d9ed;
}

.navbar-brand {
  color: #ffffff!important;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.14);

  &:hover {
    color: #ffffff!important;
  }
}

.dropdown-menu .dropdown-item {
  color: black !important;
}

.dropdown-menu a:hover {
  background-color: #c8d9ed;
}

.nav-link.active {
  background-color: #2f5779 !important;
  color: #ffffff !important;
}

.nav-link:visited {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:focus {
  background-color: inherit;
}

.dropdown-toggle::after {
  display: none !important;
}

.iconSearchNav {
  fill: black;
  width:20px;
  height:20px;
}

.serverAddress {
  max-width: 600px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerMenuIcon{
  height: 37px;
  width: 37px;
}

#navDropdown:hover {
  color: #c8d9ed;
}

#navDropdown:focus {
  color: #c8d9ed;
}

#navDropdown {
  color: #ffffff;
}
