.headline-container{
  background-color: #c8d9ed ;
  height: 12em;
}

.text-container{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify
}

.about-text{
  padding-right: 5em;
  padding-left: 5em;
}