.list-searchbar {
  font-size: 14px;

  max-width: 500px;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
  border-radius: 25px;
}

.list-search-container{
  height: 35px;
}

.list-searchbar-icon{
  fill: #283044;
}

.list-searchbar-container{
  margin-left: 3rem;
  height: 4em;
}